/******************************************************* // Theme Name // *****************************************************/

/* 
	begin your CSS here, remember you can add a new css 
	file for each module you have installed in Pixie 
	(a moudle with the url /links/ will autmatically 
	try and load a links.css file). 
	
	the styles found in this file are examples to get you
	started with your own theme. 

*/

/* Example layout CSS */
/*///////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////*/

body {
	background-image: url('images/bgrs/body.gif');
	background-color: #9fdcc4;

	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	color: #464646;
}


/* hide the skip to content link */

#tools {
	display: none;
}

/* fixed footer (if required) */

html, body, #wrap {
	min-height: 100%;
}

#placeholder {
	position: relative;
	min-height: 100%;
}

* html #placeholder
	{
	height: 100%;
	}
	
#footer {
	clear: both;
	position: relative;
	/* height must be equal to negative margin */
	margin: 0 auto;
	height: 143px;
	width: 940px;
	padding: 0 5px;

	background-image: url('images/bgrs/footer.png');
	background-repeat: no-repeat;
}
	
#content {
	width: 630px;
	float: right;

	padding-bottom: 24px;
	padding-bottom: 20px;
	padding-right: 30px;
}

/* Image replacement on the logo */


#site_title .replace, 
#site_title .replace span {
	width: 385px;
	height: 181px;

	background-image: url('images/logo.png');
	background-repeat: no-repeat;
	z-index: 3;
}

#header #site_title {
	position: absolute;
	z-index: 3;
	left: 75px;
	top: 57px;
}

#header {
	height: 211px;
	position: relative;
}

#header #site_strapline {
	display: none;
}

#extradiv_a {
	display: block !important;
	position: absolute;
	top: 111px;

	z-index: 2;

	width: 100%;
	height: 68px;

	background-color: #fa6412;
	opacity: 0.62;
}

#extradiv_1 {
	display: block !important;
	width: 22px;
	height: 22px;

	background-image: url('images/fl.png');
	background-repeat: no-repeat;

	position: absolute;
	right: 36px;
	top: 23px;
}


/* Placeholder */
#placeholder {
	width: 940px;
	margin: 0 auto;

	padding: 0 5px 100px;

	background-image: url('images/bgrs/page.png');
	background-repeat: repeat-y;

	position: relative;
}

/* Block styles */
/*///////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////*/

#content_blocks {
	width: 280px;
	float: left;
}

.block
	{
	width: 200px;
	position: relative;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
	}

.block h4
	{
	border-bottom: 1px solid #666;
	padding-bottom: 10px;
	}

/* Extra Divs */
/*///////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////*/
#extradiv_3 {
	clear: both;
} 
/* Use these divs for extra display elements */

#extradiv_1, #extradiv_2, #extradiv_4,
#extradiv_b, #extradiv_c, #extradiv_d
	{
	display: none;
	}


#pixie_body {
	margin-top: 67px;
}

.section ul.post_links {
	list-style: none;
	padding: 0;
	font-size: 0.85em;

	opacity: 0.7;

	margin: -1.2em 0 1em;
}

.section ul.post_links > li {
	display: inline;
	margin-right: 1em;
}

ul.unstyled, ol.unstyled {
	list-style: none outside none;
	margin-left: 0;
}

#credits_list {
	width: 641px;
	margin: 0 auto;

	font-size: 0.8em;

	padding-top: 0.25em;
	padding-left: 14px;
}

#credits_list a {
	color: #646464;
	text-decoration: none;
}
#credits_list a:hover {
	text-decoration: underline;
}

#credits_list > #cred_pixie {
	float: left;
}

#credits_list > #cred_theme {
	float: right;
}
/********************************************************** // End // ********************************************************/
