/******************************************************* // Theme Name Navigation // *****************************************************/

/*
	this layout for the navigation is provided as an example.
	please delete the css here and replace with your own.
	
*/

/* Navigation */
/*///////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////*/

#navigation {
	display: block;
	height: 5px;
}

#navigation h3 {
	display: none;
}

#navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
	
	font-size: 14px;

	position: relative;
	top: -16px;
	left: 280px;

	z-index: 4;
}

#navigation ul > li {
	display: inline !important;
	margin-right: 61px;
}

#navigation ul > li.last {
	margin-right: 0;
}

#navigation ul > li a.replace {
	text-decoration: none;
	outline: none;
	display: inline !important;

	color: #232323;
	text-decoration: none;
}

#navigation ul > li a.replace:before {
	display: inline;
}

#navigation ul > li a.replace:hover {
	text-decoration: underline;
}

#navigation ul > li a > span {
	display: none;
}

.nav_current_1 {
	font-weight: bold;
}

/********************************************************** // End // ********************************************************/
